.sidebar {
  flex: 2.5;
  height: 100vh;
  width: 100%;
}

.sidebarWrapper {
  padding: 20px;
  width: inherit;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 4px 6px;
  cursor: pointer;
  box-shadow: 3px 7px 13px -10px #404755;
  transition: 0.3s;
}

.sidebarListItem:hover {
  border-style: none;
  transform: translateY(-10px);
}

.sidebarIcon {
  font-style: 35px !important;
  margin-right: 10px;
}

.sidebarListItemText {
  font-size: 20px;
  padding-top: 3px;
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  object-fit: cover;
  background-repeat: 50%;
  margin-right: 10px;
}

.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarFriend {
  display: flex;
  margin-bottom: 15px;
}
